/* Index page styling */

.welcome-page,
.staff-page {
    background: $blue-black;
    color: $white;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.welcome,
.staff {
    /* border: 1px solid $white; */
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 3;
    margin: 5rem auto 0 auto;
    padding: 1rem;
    width: 80%;

    &__logo {
        margin-bottom: 2.5rem;

        & img{
            height: auto;
            width: 150px;
        }
    }

}


.welcome__message {
    text-align: center;

    & h1 {
        color: $light-blue;
        font-size: 3.5rem;
        font-weight: 300;
        margin-bottom: 0.5rem;
        margin-top: 0;
    }

    & p {
        font-size: 1rem;
        font-weight: 300;
        margin-top: 0;
    }
}

.welcome__button {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    margin-top: 2rem;
    
    & button {
        text-transform: uppercase;
        margin-left: 1rem;
    }

}




/* Staff page styling */

.staff {
    margin-top: 1rem;
}

.staff__container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    grid-template-rows: 1;
}

.staff__card {
    background-color: #f1f0f0;
    border: 1px solid $white;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    justify-items: center;
    padding: 1rem 0.5rem;
}

.staff__card:hover {
    transform: scale(1.1);
    transition: .3s all ease-in-out;
}

.staff__img {
    border: 3px solid $light-blue;
    border-radius: 50%;
    height: 80px;
    width: 80px;

    & img {
        
        border-radius: 50%;
    }
}

.staff--name {
    color: $light-blue;
}



/* Staff Signin Page Styling */

.staff__signin {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    margin-top: 2rem;
    text-align: center;
}

.staff-in__card {
    background-color: #f1f0f0;
    border: 1px solid $white;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    justify-items: center;
    padding: 1rem 0.5rem;
}

.staffin--form {
    margin-top: 4rem;
}


